@model Vidly.Models.Customer
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
  var bd = Model.BirthDay.ToString() == null? "" : Model.BirthDay.ToString();
  }

<h1>@Model.Name</h1>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    <li>BirthDay: @bd</li>
</ul>
